<div class="center hero-unit">
<h1>Welcome to the Sample App</h1>

<h2>
This is the home page for the
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
</h2>

<%=link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"%>
</div>

<%=link_to image_tag("rails.png", alt: "rails"), 'http://rubyonrails.org/'%>

<meta name="p:domain_verify" content="1f1a5b46e6cfca74afacb3af78e73ce1"/>

</body>
</html>